<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
	<add name ="devconn" connectionString = "Server=.\SQLExpress;Database=RecipeWebsiteDB;User Id=recipeadmin;Password=recipeADMIN1!;Trusted_Connection = true"/>
	<add name ="unittestconn" connectionString = "Server=.\SQLExpress;Database=RecipeWebsiteDB;Trusted_Connection = true"/>
</connectionStrings>